:root {

  --bg-color: rgba(225, 229, 235, 0.49);

  --blue: #003be5;

  --gree: #2fc18c;

  --red: #df3c6d;
}

.form {
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 0 5rem 1.2rem;
  width: min(1180px, 100vw);
}

.label {
  align-items: center;
  color: var(--blue);
  display: flex;
  font-weight: 700;
  margin-top: 1.2rem;
}

.input {
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  font-weight: 400;
  margin-left: 0.6rem;
  padding: 0.35rem;
}

.input:focus {
  outline: 2px solid var(--gree);
}

.option {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 400;
}

.description {
  width: min(18rem, 45vw);
}

.tag {
  width: min(9rem, 35vw);
}

.value {
  width: min(10rem, 35vw);
}

.method {
  width: min(12rem, 40vw);
}

.currency {
  width: 5rem;
}

.error {
  background-color: var(--red);
  border-radius: 5px;
  color: white;
  margin-left: 0.6rem;
  padding: 0.35rem;
}

@media ( max-width : 600px ) , ( max-width : 851px ) {

  .form {
    justify-content: flex-start;
    padding: 0 0.4rem 0.7rem;
  }

  .label {
    justify-content: space-between;
    width: 100%;
  }

  .form > .label:nth-child( 1 ) {
    margin-top: 0.7rem;
  }
}

@media ( max-width : 1000px ) {

  .form {
    padding: 0 1.2rem 1.2rem;
  }
}
