.form {

  --bg-color: rgba(225, 229, 235, 0.49);

  --blue: #003be5;

  --green: #2fc18c;

  --red: #df3c6d;

  --_br: 5px;

  --_brLg: 10px;
  background-color: var(--bg-color);
  border-radius: 0 0 var(--_brLg) var(--_brLg);
  margin: auto;
  padding-top: 1.4rem;
  position: relative;
  width: min(1180px, 100vw);
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding-inline: 5rem;
}

.editing {
  border: 3px solid var(--green);
  border-radius: var(--_brLg);
  padding-top: 0;
}

.pWrapper {
  width: 100%;
}

.p {
  color: var(--green);
  font-size: 1.16rem;
  font-weight: 700;
  padding-block: 0.7rem 0.7rem;
  text-align: center;
}

.label {
  align-items: center;
  color: var(--blue);
  display: flex;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.input {
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: var(--_br);
  color: var(--blue);
  font-weight: 400;
  margin-left: 0.6rem;
  padding: 0.35rem;
}

.input:focus {
  outline: 2px solid var(--green);
}

.option {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 400;
}

.description {
  width: min(18rem, 45vw);
}

.tag {
  width: min(9rem, 35vw);
}

.value {
  width: min(10rem, 35vw);
}

.method {
  width: min(12rem, 40vw);
}

.currency {
  width: 5rem;
}

.error {
  background-color: var(--red);
  border-radius: var(--_br);
  margin-left: 0.6rem;
  padding: 0.35rem;
}

.btnWrapper {
  background-color: white;
  border-radius: 0 0 var(--_brLg) var(--_brLg);
  display: flex;
  justify-content: center;
  padding-block: 1.4rem;
  width: 100%;
}

.btn {
  background-color: var(--green);
  border: none;
  border-radius: var(--_br);
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 0.6rem 5rem;
}

.btn:active {
  transform: scale(0.8);
  transition: transform 500ms ease-in-out;
}

.btn:disabled {
  cursor: unset;
  filter: brightness(70%);
  transform: none;
}

@media ( max-width : 600px ) , ( max-width : 851px ) {

  .wrapper {
    justify-content: flex-start;
    padding-inline: 0.4rem;
  }

  .label {
    justify-content: space-between;
    width: 100%;
  }

  .form > .label:nth-child( 1 ) {
    margin-top: 0.7rem;
  }

  .btn {
    padding: 0.6rem 2.5rem;
  }
}

@media ( max-width : 971px ) {

  .wrapper {
    padding-inline: 1rem;
  }
}
